In [60]:
import pandas as pd
from joblib import load
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR  # Support Vector Regression for continuous targets
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

##  Loading my Preprocessed Data

In [41]:
df= pd.read_csv('/Users/asalzooashkiany/Documents/-DS-Midterm-Project./data/my_dataframe.csv')

In [42]:
directory_path ='/Users/asalzooashkiany/Documents/-DS-Midterm-Project./notebooks'

In [43]:
# Load the files
X_train_transformed = load(directory_path + 'X_train_transformed.joblib')
X_test_transformed = load(directory_path + 'X_test_transformed.joblib')
y_train = load(directory_path + 'y_train.joblib')
y_test = load(directory_path + 'y_test.joblib')

preprocessor = load(directory_path + 'preprocessor.joblib')

In [44]:
X_train_transformed.shape

(3709, 22)

In [45]:
X_test_transformed.shape

(1590, 22)

In [46]:
pd.DataFrame(X_train_transformed)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,14000.0,1951.0,8843.000000,2.0,4.0,1.951566,10.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,9000.0,1949.0,5500.000000,1.0,2.0,1.951566,13.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1991.0,1307.000000,2.0,2.0,1.484848,12.0
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1930.0,3001.000000,1.0,3.0,1.951566,4.0
4,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,10000.0,1985.0,9089.000000,3.0,4.0,2.000000,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3704,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,2000.0,8712.000000,3.0,3.0,2.000000,14.0
3705,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1979.0,6199.000000,2.0,4.0,2.000000,9.0
3706,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1941.0,5532.000000,1.0,2.0,1.000000,10.0
3707,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1970.0,16117.000000,2.0,3.0,2.000000,6.0
3708,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1972.0,21847.145165,1.0,2.0,1.951566,14.0

In [47]:
pd.DataFrame(X_train_transformed).describe()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
count,3709.000000,3709.000000,3709.000000,3709.000000,3709.000000,3709.000000,3709.000000,3709.000000,3709.000000,3709.000000,...,3709.000000,3709.000000,3709.000000,3709.000000,3709.000000,3709.000000,3709.000000,3709.000000,3709.000000,3709.000000
mean,0.656781,0.024265,0.151793,0.167161,0.087894,0.040712,0.871394,0.260448,0.200054,0.355352,...,0.082772,0.716096,0.087085,4480.878943,1964.758965,7909.668812,2.112215,3.139284,1.836359,10.446482
std,0.474848,0.153892,0.358868,0.373170,0.283179,0.197648,0.334809,0.438938,0.400094,0.478684,...,0.275574,0.450952,0.281998,10896.975566,34.926292,4949.381205,0.947839,1.253962,0.649703,5.331883
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1828.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1946.000000,4792.000000,2.000000,3.000000,1.506024,7.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,1971.000000,6882.000000,2.000000,3.000000,1.951566,10.000000
75%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,...,0.000000,1.000000,0.000000,5000.000000,1992.000000,10019.000000,3.000000,4.000000,2.000000,14.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,191000.000000,2023.000000,22695.000000,7.000000,12.000000,11.000000,30.000000

In [48]:
df.describe()

,Unnamed: 0,price_reduced_amount,Year Built,Sold Price,Lot SqFt,Baths,Beds,Garage,Tags Count
count,5299.000000,5299.000000,5299.000000,5299.000000,5299.000000,5299.000000,5299.000000,5299.000000,5299.000000
mean,4052.899415,4473.346292,1965.053218,324.002445,7894.049626,2.119342,3.135344,1.838391,10.461219
std,2362.239627,10901.188792,34.950731,177.345889,4937.224185,0.934644,1.233046,0.675984,5.361996
min,0.000000,0.000000,1828.000000,2.500000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2003.500000,0.000000,1946.000000,200.000000,4792.000000,2.000000,3.000000,1.506024,7.000000
50%,4058.000000,0.000000,1972.000000,300.000000,6970.000000,2.000000,3.000000,1.951566,10.000000
75%,6039.500000,5000.000000,1992.000000,430.000000,10019.000000,3.000000,4.000000,2.000000,14.000000
max,8157.000000,191000.000000,2023.000000,827.522000,22695.000000,7.000000,12.000000,11.000000,30.000000

This notebook should include preliminary and baseline modeling.
- Try as many different models as possible.
- Don't worry about hyperparameter tuning or cross validation here.
- Ideas include:
    - linear regression
    - support vector machines
    - random forest
    - xgboost

In [53]:
# Initializeing the models
models = {
    'Linear Regression': LinearRegression(),
    'SVM': SVR(),
    'Random Forest': RandomForestRegressor(random_state=34),
    'XGBoost': XGBRegressor(objective='reg:squarederror', random_state=34)
}

### MSE measures the average of the squares of the errors between the predicted and actual values. A lower MSE means better model performance.

In [63]:
from sklearn.metrics import mean_squared_error

for name, model in models.items():
    model.fit(X_train_transformed, y_train)
    y_pred = model.predict(X_test_transformed)
    mse = mean_squared_error(y_test, y_pred)
    print(f"{name} - MSE: {mse}")

Linear Regression - MSE: 15942.897212550046
SVM - MSE: 30302.328761822406
Random Forest - MSE: 426.91758379104317
XGBoost - MSE: 684.9066217551992

### 1-RMSE is sensitive to outliers so it gives.It gives a relatively high weight to large errors because the errors are squared before they are averaged

In [57]:
for name, model in models.items():
    model.fit(X_train_transformed, y_train)
    y_pred = model.predict(X_test_transformed)
    rmse = mean_squared_error(y_test, y_pred, squared=False)
    print(f"{name} - RMSE: {rmse}")

Linear Regression - RMSE: 126.26518606706303
SVM - RMSE: 174.07564092032638
Random Forest - RMSE: 20.661984023588904
XGBoost - RMSE: 26.170720696136726

### Mean Absolute Error (MAE). It's the average over the test sample of the absolute differences between prediction and actual observation where all individual differences have equal weight. MAE is less sensitive to outliers than RMSE.
### it's giving smaller eerrors compeared to RMSE

In [58]:
for name, model in models.items():
    model.fit(X_train_transformed, y_train)
    y_pred = model.predict(X_test_transformed)
    mae = mean_absolute_error(y_test, y_pred)
    print(f"{name} - MAE: {mae}")

Linear Regression - MAE: 94.86332993901685
SVM - MAE: 135.67900825269368
Random Forest - MAE: 10.016737736493905
XGBoost - MAE: 16.221247607253932

### R² measures the proportion of the variance for the dependent variable that's explained by the independent variables in the model. It provides an indication of the goodness of fit of the predictions.

In [61]:
for name, model in models.items():
    model.fit(X_train_transformed, y_train)
    y_pred = model.predict(X_test_transformed)
    r2 = r2_score(y_test, y_pred)
    print(f"{name} - R²: {r2}")

Linear Regression - R²: 0.4878298028863838
SVM - R²: 0.0265288994821421
Random Forest - R²: 0.9862851487953266
XGBoost - R²: 0.9779971761222518

### Adjusted R² adjusts the statistic based on the number of independent variables in the model. It increases only if the new term improves the model more than would be expected by chance

In [62]:
for name, model in models.items():
    model.fit(X_train_transformed, y_train)
    y_pred = model.predict(X_test_transformed)
    r2 = r2_score(y_test, y_pred)
    n = X_test_transformed.shape[0]  # Number of observations
    p = X_test_transformed.shape[1]  # Number of features
    adjusted_r2 = 1 - (1 - r2) * (n - 1) / (n - p - 1)
    print(f"{name} - Adjusted R²: {adjusted_r2}")

Linear Regression - Adjusted R²: 0.48063915557528003
SVM - Adjusted R²: 0.012861787668872915
Random Forest - Adjusted R²: 0.9860925982359757
XGBoost - Adjusted R²: 0.9776882660231385

Consider what metrics you want to use to evaluate success.
- If you think about mean squared error, can we actually relate to the amount of error?
- Try root mean squared error so that error is closer to the original units (dollars)
- What does RMSE do to outliers?
- Is mean absolute error a good metric for this problem?
- What about R^2? Adjusted R^2?
- Briefly describe your reasons for picking the metrics you use

In [50]:
# gather evaluation metrics and compare results

**STRETCH**

Even with all the preprocessing we did in Notebook 1, you probably still have a lot of features. Are they all important for prediction?

Investigate some feature selection algorithms (Lasso, RFE, Forward/Backward Selection)
- Perform feature selection to get a reduced subset of your original features
- Refit your models with this reduced dimensionality - how does performance change on your chosen metrics?
- Based on this, should you include feature selection in your final pipeline? Explain

Remember, feature selection often doesn't directly improve performance, but if performance remains the same, a simpler model is often preferrable.

In [51]:
# perform feature selection 
# refit models
# gather evaluation metrics and compare to the previous step (full feature set)